header {

  nav {
  	margin-top: 10px;
  	display: flex;
    flex-wrap: wrap;

    a {
      color: black;
     	text-decoration: none;
     	padding: 10px;
      width: 100%;
      border-bottom: 2px solid black;
      align-self: center;
      text-align: center;
   		padding: 4%;
     }
  }
}
