header {
  background-color: @custom-purple;

  nav {
    width: 90%;
  	display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 40px;

    .home {
      border-top: 2px solid white;

      @media @desktop {
        border-top: none;
      }
    }

    a {
      color: white;
     	text-decoration: none;
      width: 100%;
      border-bottom: 2px solid white;
      align-self: center;
      text-align: center;
   		padding: 5%;

      @media @desktop {
        width: 20%;
        border-bottom: none;
      }
     }

     @media @desktop {
       flex-wrap: nowrap;
       justify-content: space-between;
     }
  }
}
