.container {
  width: 100%;
  margin-bottom: 20px;

  .top-section {
    width: 100%;
    padding: 10% 5%;
    background-color: @custom-purple;

    h1 {
      color: white;
    }

    p {
      padding: 0 0 20px 0;
      color: white;
    }
  }

  .main-content {
    width: 100%;
    padding: 10% 5%;
    background-color: #f8ecf8;

     p {
       padding: 20px 0 20px 0;
     }
  }

  button {
    .custom-button(80%, 40px, white, @custom-pink)
  }
}
